@import '../../../styles.scss';


.search-input-container {
  border: 1px solid rgb(224, 224, 224);
  padding: 0;
  border-radius: 21px;
  height: 42px;
  min-width: 200px;
  align-items: baseline;
  position: relative;
  .search-input {
    border: none;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    left: 15px;
    top: 0;
    width: calc(100% - 30px);
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  .icon {
    position: absolute;
    width: 42px;
    height: 41.5px;
    outline: none;
    border: none;
    border-radius: 50%;
    display: flex;
    color: white;
    background-color: $accent-color;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
  }
}
