@import "../../../styles.scss";
@import "../../break-points.scss";


.app-bar {
  background: transparent;
  .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .logo > a {
    color: $primary-color !important;
    text-decoration: none;
    display: flex;
    h2{
      font-size: 24px;
      margin-left: 7px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .search-input-style{
    margin-left: 15px;
    width: 75%;
    max-width: 600px;
  }
  .menu-buttons{
    button{
      text-transform: uppercase;
    }
  }
}
.example-spacer {
  flex: 1 1 auto;
}
