<mat-toolbar class="app-bar">
  <button
    mat-icon-button
    class="example-icon"
    appShow="sm"
    aria-label="Menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo">
    <a routerLink="/">
      <img src="../../assets/shop_pay.png" width="30" height="30" />
      <h2>Shopay</h2>
    </a>
    <div class="search-input-style remove-upto-md">
      <app-search-input placeHolder="Search">
        <mat-icon input-icon>search</mat-icon>
      </app-search-input>
    </div>
  </div>
  <div class="menu-buttons">
    <button mat-button [matMenuTriggerFor]="menu">EN</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>EN-US</button>
      <button mat-menu-item>ML-IN</button>
    </mat-menu>
    <button mat-button aria-label="Cart button" class="remove-upto-md">
      <mat-icon>add_shopping_cart</mat-icon>
      cart
    </button>
    <button mat-button aria-label="Cart button" class="remove-upto-md">
      <mat-icon>perm_identity</mat-icon>
      login
    </button>
  </div>
</mat-toolbar>
