<div class="carousel-multiple">
  <ul
    #carouselRef
    class="carousel-container"
    [ngStyle]="{ 'transition-duration': duration + 's' }"
  >
    <ng-container *ngIf="slides.length > 0">
      <li #carouselItemRef *ngFor="let slide of slides" class="carousel-item">
        <ng-container
          *ngTemplateOutlet="slideTemplateRef; context: { $implicit: slide }"
        >
        </ng-container>
      </li>
    </ng-container>
  </ul>
  <ng-container *ngIf="slides.length > 0">
    <button mat-mini-fab class="navigation button-back" (click)="onPrev()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-mini-fab class="navigation button-forward" (click)="onNext()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </ng-container>
</div>
