// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$theme-palette: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #00bcd4,
  600: #00acc1,
  700: #0097a7,
  800: #00838f,
  900: #006064,
  contrast: (
    50: rgba(black, 0.5),
    100: rgba(black, 0.55),
    200: rgba(black, 0.6),
    300: rgba(black, 0.65),
    400: rgba(black, 0.7),
    500: rgba(black, 0.75),
    600: rgba(black, 0.8),
    700: rgba(black, 0.82),
    800: rgba(black, 0.87),
    900: rgba(black, 0.9),
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shoppay-primary: mat.define-palette($theme-palette);
$shoppay-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

$primary-color: map-get(
  $map: $theme-palette,
  $key: 600,
);


$accent-color: map-get(
  $map: $shoppay-accent,
  $key: 500,
);

// The warn palette is optional (defaults to red).
$shoppay-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shoppay-theme: mat.define-light-theme(
  (
    color: (
      primary: $shoppay-primary,
      accent: $shoppay-accent,
      warn: $shoppay-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($shoppay-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    font-size: 16px;
    height: 28px;
  }
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0 0 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
