<div class="carousel-container">
  <app-carousel
    [autoPlayDuration]="5000"
    [isNavigationVisible]="false"
    [isThumbnailsVisible]="false"
    [slides]="slides"
    [slideTemplateRef]="slide"
  >
  </app-carousel>
<ng-template #slide let-slide>
  <div class="main-carousel">
    <div class="text-content">
      <div>
        <div class="title">{{ slide.title }}</div>
        <div class="description">{{ slide.description }}</div>
      </div>
    </div>
    <div class="image-content">
      <div
        class="image"
        [ngStyle]="{ 'background-image': 'url(' + slide.url + ')' }"
      ></div>
      <div class="overlay"></div>
    </div>
  </div>
</ng-template>

</div>
<!-- <ng-template #thumbnail let-slide>
		<div [ngStyle]="{
        'background-size': 'cover',
        'background-image': 'url(' + slide.url + ')',
        'background-repeat': 'no-repeat',
        'background-position': 'center center',
        'width': '100%',
        'height': '100%'
      }"></div>
</ng-template> -->


<div class="carousel-category">
  <app-carousel-multiple
  [slides]="categorySlides"
  [slideTemplateRef]="slideCategory"
  ></app-carousel-multiple>

  <ng-template #slideCategory let-slide>
    <div class="container" [ngStyle]="{ 'background-image': 'url(' + slide.image + ')' }">
      {{ slide.title }}
    </div>
  </ng-template>
</div>